@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Roboto:wght@300&display=swap");
* {
  font-family: Roboto;
  box-sizing: border-box;
}

nav.dropdown {
  width: 3rem;
}

nav.dropdown ul {
  display: none;
}

nav.dropdown:hover ul {
  display: block;
}

nav.dropdown:hover ul li {
  text-shadow: 5px 5px 10px black;
}

h1 {
  text-shadow: 2px 2px #ff0000;
}
